{% extends "main/base.html" %}
{% load static %}

{% block extra_style %}
  <link rel="stylesheet"
        type="text/css"
        href="{% static 'main/css/home.css' %}">
{% endblock extra_style %}

{% block content %}
  <div class="home">
    <h1>カテゴリー</h1>
    <div class="category-container">
      {% for category in category_list %}
        <div class="category-item">
          <a href="{% url "todo_list" category.id %}" class="category_link">{{ category.name }}</a>
        </div>
      {% endfor %}
      <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="作成">
      </form>
    </div>
  </div>
{% endblock content %}
