{% extends "main/base.html" %}
{% load static %}

{% block extra_style %}
  <link rel="stylesheet"
        type="text/css"
        href="{% static 'main/css/todo_create.css' %}">
{% endblock extra_style %}

{% block content %}
  <div class="todo-create">
    {# <h1>{{ category.name }}</h1> #}
    <form action="{% url "todo_create" category_id %}" method="post">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table>
      <input type="submit" value="作成">
    </form>
  </div>
{% endblock content %}
