html {
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

a:visited {
  color: #000;
}

.header {
  width: 100vw;
  height: 64px;
  border-bottom: 1px solid #9b9b9b;
  background-color: #eee;
  position: fixed;
  z-index: 1;
}

.header-container {
  display: flex;
  position: relative;
  width: 90%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header-container__item {
  position: relative;
  display: block;
  width: auto;
  align-items: center;
  text-decoration: none;
  color: #9b9b9b;
  align-content: center;
}

.header-item__link {
  display: inline-block;
  width: 32px;
  text-align: center;
}

.header-item__icon {
  display: block;
  font-size: 25px;
}

.header-container__title {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1rem;
  line-height: 1rem;
  margin: auto;
  text-align: center;
  font-size: 1.2rem;
}

.main {
  margin: 0 8px;
  padding-top: 64px;
}

.footer {
  width: 100vw;
  height: 64px;
  position: fixed;
  bottom: 0;
}

.footer-item__icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
}

.footer-container {
  display: flex;
  width: 100%;
  height: 64px;
  text-align: center;
  border-top: solid 1px #9b9b9b;
  background-color: #eee;
}

.footer-container__item {
  display: flex;
  position: relative;
  width: 50%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #9b9b9b;
}
